@import "tailwindcss";

@theme {
	--color-sibguti-main: #1f508f;
	--color-fot930-blue: #3b7ab5;
	--color-fot930-blue-hover: #31628f;
	--color-fot930-blue-active: #22496d;
}

@layer base {
	h1 {
		font-size: var(--text-2xl);
	}

	h2 {
		font-size: var(--text-xl);
	}

	h3 {
		font-size: var(--text-lg);
	}

	a {
		color: var(--color-blue-600);
		text-decoration-line: underline;
	}
}

@layer utilities {
	/* Кастомный скроллбар без стрелок */
	.custom-scrollbar::-webkit-scrollbar {
		height: 8px;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		background: transparent;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		background-color: #d1d5db;
		border-radius: 4px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		background-color: #9ca3af;
	}

	.custom-scrollbar::-webkit-scrollbar-button {
		display: none;
	}
}
