@import "tailwindcss";

@theme {
	--color-sibguti-main: #1f508f;
	--color-fot930-blue: #3B7AB5;
	--color-fot930-blue-hover: #31628f;
	--color-fot930-blue-active: #22496d;
}

@layer base {
	h1 {
		font-size: var(--text-2xl);
	}

	h2 {
		font-size: var(--text-xl);
	}

	h3 {
		font-size: var(--text-lg);
	}

	a {
		color: var(--color-blue-600);
		text-decoration-line: underline;
	}
}
